<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Password</title>
</head>

<body>
    <h1>Create New Password Request</h1>
    <p>Hi {{ user.employee_name }}, you're registered as an {{ role }} in Task Management System.</p>
    <p>We received a request to set your password. Please click the link below to set a new password:</p>
    <p><a href="{{ reset_link }}" style="text-decoration: none; color: blue;">{{reset_link}}</a></p>
    <p>If you did not request this change, you can ignore this email.</p>
    <p>Thanks,</p>
    <p>Your Company Team</p>
</body>

</html>